.controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 32px;
}

.controls input {
    background: #fff;
    border: 1px solid #808080;
    width: 272px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 8px 0 8px 16px;
    transition: border 0.2s, background 0.2s;
}

.controls input:hover,
.controls input:focus {
    border: 1px solid #000;
    background: #fff;
}

.controls input.active-timer {
    background: #fff;
    border: 1px solid #4e75ff;
}

.controls input:disabled {
    background: #fafafa;
    cursor: not-allowed;
}

.controls button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

.controls button:disabled {
    background: #cfcfcf;
    color: #fff;
    cursor: not-allowed;
}

.controls button:not(:disabled):hover,
.controls button:not(:disabled):focus {
    background: #6c8cff;
}

.timer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 346px;
    height: 72px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
}

.custom-izitoast .iziToast-body {
    padding-left: 20px !important;
    margin: 0 !important;
    width: 302px;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
}

.custom-izitoast {
    background-color: #ef4040;
    border-bottom: 2px solid #ffbebe;
    border-radius: 4px;
}

.custom-izitoast .iziToast-message {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-izitoast .iziToast-close {
    display: none !important;
}

.custom-izitoast .error-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
    background-image: url('../img/error-icon.png');
}